/*Desktop navigation css*/
body {
	background-color:#7c97b3 !important;
	color:white !important;
}
@media only screen and (min-width: 992px){
	/*body{background-color:red !important;} */
	
	.mobHeader {
		display:none;
	}
	
	
	.nav ul{
		margin:0;
		padding:1;
		list-style-type: none;
		background-color:#333333;
		height:100px;
		border-radius:6px;
		display:block !important;
	}

	.nav li{
		/*float:left;*/
		display:inline-block;
		padding:1%;
		margin-right:1%;
		margin-top:30px;	
	}

	.nav a{
		color:white;
		text-decoration:none;
		font-family:"verdana";
	}
	
	.nav a:hover{
		color:#333333;
		text-decoration:none;
	}
	
	
	.footerNav ul{
		list-style-type: none;
		background-color:#333333;
		height:100px;
	}
	
	.footerNav li{
		display:inline-block;
		margin-top:20px;	
				
		padding:1%;
		
	}
	
	.footerNav a{
		color:white;
		text-decoration: none;
		font-family:"verdana";
	}
	
	.footerNav a:hover{
		color:#333333;
		text-decoration:none;
	}
	
}



/*Tablet navigation css */
@media only screen and (min-width:501px) and (max-width:991px){
	/*body{background-color:green !important;}*/
	.mobHeader{
		display:none;
	}
	
	.nav ul{
		margin:0;
		padding:1;
		list-style-type: none;
		background-color:#333333;
		height:100px;
		border-radius:6px; 
		display:block !important;
	}

	.nav li{
		/*float:left;*/
		display:inline-block;
		padding:1%;
		margin-right:1%;
		margin-top:30px;	
	}

	.nav a{
		color:white;
		text-decoration: none;
		font-family:"verdana";
	}
	
	.nav a:hover{
		color:#333333;
		text-decoration:none;
	}
	
		.footerNav ul{
		list-style-type: none;
		background-color:#333333;
		height:60px;
	}
	
	.footerNav li{
		display:inline-block;
		margin-top:8px;		
		padding:1%;
		
	}
	
	.footerNav a{
		color:white;
		text-decoration: none;
		font-family:"verdana";
	}
	
	.footerNav a:hover{
		color:#333333;
		text-decoration:none;
	}
}



/*Mobile navigation css*/
@media only screen and (max-width:500px){
	/*body{background-color:blue !important;}*/
	
	.mobHeader{
		border:solid #565252 1px;
		background-color:#333333;
		position:relative;
		height:61px;
	}
	
	.mobHeader button{
		position:absolute;
		right:0;
		color:white;
		background-color:#333333;
		border:solid #565252 1px;
		height:60px;
	}
	
	.nav ul{
		margin:0;
		padding:0;
		list-style-type: none;
		background-color:#333333;
		width:100%;
		height:190px;
			
	}

	.nav li{
		padding-top:5px;
		display:block;
		height:30px;
		text-align:center;
		margin-bottom:20px;
	}

	.nav a{
		color:white;
		text-decoration: none;
		font-family:"verdana";
	}
	
	.nav a:hover{
		color:#333333;
		text-decoration:none;
	}
	
	
	.footerNav ul{
		list-style-type: none;
		background-color:#333333;
		height:160px;
		padding:0;
		padding-top:10px;
		padding-bottom:30px;
	}
	
	.footerNav li{
		display:block;
		height:30px;
		padding:1%;
		margin-bottom:2%;
		text-align:center;
	}
	
	.footerNav a{
		color:white;
		text-decoration: none;
		font-family:"verdana";
	}
	
	.footerNav a:hover{
		color:#333333;
		text-decoration:none;
	}
	
}